# Chapter 9: Tabular data

The **pandas** package is a high-level data manipulation tool for Python. 

The name *pandas* is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

## How to install pandas?

If you have Anaconda installed, then pandas was already installed together with it.

If you have a standalone Python3 and Jupyter Notebook installation, open a command prompt / terminal and type in:
```
pip3 install pandas xlrd openpyxl
```

The `xlrd` and `openpyxl` packages are required for managing Microsoft Excel files.  
If you have Anaconda installed, these packages were also included in the default installation.

### Support OpenDocument format

The `xlrd` package is used for older format MS Excel files (`.xls`), while `openpyxl` is used for newer format MS Excel files (`.xlsx`).

In case support for *OpenDocument* format is required (`.ods` files), e.g. for compatibility with OpenOffice or LibreOffice, the `odf` package can be used:
 - Install with Anaconda Command Prompt: `conda install odf`
 - Install with Python Package Installer: `pip3 install odf`

## How to use pandas?

The pandas package is a module which you can simply import. It is usually aliased with the `pd` abbreviation:
```python
import pandas as pd
```

---

## Series and Dataframes

The primary two components of pandas are the **Series** and **DataFrame**.

A *Series* is essentially a column, and a *DataFrame* is a multi-dimensional table made up of a collection of *Series*.

<img alt="Series and Dataframes" src="../images/09_series_dataframe.png" title="Source: https://www.learndatasci.com/" style="width: 600px; margin: auto;"/>

We can work with DataFrames and Series in a similar way, since many operations support both of them. (E.g. calculating the mean value of a Series or a DataFrame.)

### Create a DataFrame from scratch

A Python *dictionary* can easily be converted to a pandas *DataFrame*. Each `(key, value)` tuple in the dictionary corresponds to a column in the resulting DataFrame. The values in the rows for each column are given as lists.

In [ ]:
import pandas as pd

data = {
    'apples': [3, 2, 0, 1, 5, 0, 4], 
    'oranges': [0, 3, 7, 2, 1, 6, 2]
}

df = pd.DataFrame(data)
display(df)

By default the rows in the DataFrame are *indexed* numerically from 0, but we can set a custom **Index**:

In [ ]:
df = pd.DataFrame(data, index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
display(df)

*Remark:* the `display()` function is a special Jupyter Notebook function to provide "prettier" output. Where `display()` is used, `print()` could also be used.

In [ ]:
print(df)

### Access the columns of a DataFrame

In [ ]:
print('Apples purchased over the week:')
print(df['apples']) # df is a DataFrame, df['apples'] is a Series

Values of single cells can also be accessed:

In [ ]:
print('Apples purchased on Monday:')
print(df['apples']['Monday'])
print(df['apples'][0])

### Access the rows of a DataFrame

Rows can be accessed through the `loc` property with their textual indexes:

In [ ]:
print('Fruits purchased on Monday:')
print(df.loc['Monday'])

Rows can also be accessed through the `iloc` property with ther numerical indexes:

In [ ]:
print('Fruits purchased on Monday:')
print(df.iloc[0])

Accessing single cells:

In [ ]:
print('Apples purchased on Monday:')
print(df.loc['Monday']['apples'])
print(df.loc['Monday'][0])
print(df.iloc[0]['apples'])
print(df.iloc[0][0])

### Iterate over the rows of a DataFrame

Manually iterating through all the rows with the `iterrows()` method:

In [ ]:
for index, row in df.iterrows():
    print("Index: {0}, Apples: {1}, Oranges: {2}".format(index, row["apples"], row["oranges"]))

Alternatively, if only the index values ares required, the `df.index` list can be iterated:

In [ ]:
print(df.index)

---

## Reading external files

The *pandas* library has a great support for reading (and writing) external data files, like CSV files, Excel files, JSON files, etc.

Let's use the *European countries datatset*.
The dataset contains the country name, capital city name, area (in km<sup>2</sup>), population (in millions) and the region data for 43 European countries respectively.  
*Data source: [EuroStat](https://ec.europa.eu/eurostat/)*

The dataset is given in the `data/countries_europe.csv` file, which we can read with th `read_csv()` method, passing the file path and the delimiter symbol (latter will be discussed soon).

In [2]:
import pandas as pd

countries = pd.read_csv('../data/countries_europe.csv', delimiter = ';')
display(countries)

,Country,Capital,Area (km2),Population (millions),Region
0,Albania,Tirana,28748,3.20,Southern
1,Andorra,Andorra la Vella,468,0.07,Western
2,Austria,Vienna,83857,7.60,Western
3,Belgium,Brussels,30519,10.00,Western
4,Bosnia and Herzegovina,Sarajevo,51130,4.50,Southern
5,Bulgaria,Sofia,110912,9.00,Southern
6,Czech Republic,Prague,78864,10.40,Central
7,Denmark,Copenhagen,43077,5.10,Northern
8,United Kingdom,London,244100,57.20,Western
9,Estonia,Tallin,45100,1.60,Northern
10,Belarus,Minsk,207600,10.30,Northern
11,Finland,Helsinki,338145,4.90,Northern
12,France,Paris,543965,56.20,Western
13,Greece,Athens,131957,10.00,Southern
14,Netherlands,Hague,33933,14.80,Western
15,Croatia,Zagreb,56500,4.70,Southern
16,Ireland,Dublin,70283,3.50,Western
17,Iceland,Reykjavik,103000,0.30,Northern
18,Kosovo,Prishtina,10887,2.20,Southern
19,Poland,Warsaw,312683,37.80,Central
20,Latvia,Riga,63700,2.60,Northern
21,Liechtenstein,Vaduz,160,0.03,Western
22,Lithuania,Vilnius,65200,3.60,Northern
23,Luxembourg,Luxembourg,2586,0.40,Western
24,Macedonia,Skopje,25713,2.10,Southern
25,Hungary,Budapest,93036,10.40,Central
26,Malta,Valletta,316,0.30,Southern
27,Moldova,Chisinau,33700,4.40,Eastern
28,Monaco,Monaco,2,0.03,Southern
29,Montenegro,Podgorica,13812,0.60,Southern
30,Germany,Berlin,357042,78.60,Western
31,Norway,Oslo,323877,4.20,Northern
32,Italy,Rome,301277,57.50,Southern
33,Portugal,Lisbon,92389,10.50,Southern
34,Romania,Bucharest,237500,23.20,Eastern
35,San Marino,San Marino,61,0.03,Southern
36,Spain,Madrid,504782,38.80,Southern
37,Switzerland,Berne,41293,6.70,Western
38,Sweden,Stockholm,449964,8.50,Northern
39,Serbia,Belgrade,66577,7.20,Southern
40,Slovakia,Bratislava,49035,5.30,Central
41,Slovenia,Ljubljana,20250,2.00,Southern
42,Ukraine,Kiev,603700,51.80,Eastern

A **comma-separated values (CSV) file** is a delimited text file that uses a **comma** to separate values. The separator (also called the *delimiter*) can be another character than a comma, often a **semicolon** is used. The default delimiter is the comma, but we can easily configure it int the `read_csv()` method call.

A CSV file stores tabular data (numbers and text) in plain text. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. The use of the comma as a field separator is the source of the name for this file format.

For example:
```
Country;Capital;Area (km2);Population (millions);Region
Albania;Tirana;28748;3.2;Southern
Andorra;Andorra la Vella;468;0.07;Western
Austria;Vienna;83857;7.6;Western
Belgium;Brussels;30519;10;Western
Bosnia and Herzegovina;Sarajevo;51130;4.5;Southern
Bulgaria;Sofia;110912;9;Southern
Czech Republic;Prague;78864;10.4;Central
Denmark;Copenhagen;43077;5.1;Northern
United Kingdom;London;244100;57.2;Western
...
```

Overwrite the used column names:

In [ ]:
countries.columns = ['country', 'capital', 'area', 'population', 'region']
display(countries)

Use further reading functions, like `read_excel`, `read_json` to easily load other file formats into a pandas DataFrame.

The same European country dataset is given in the `data/countries_europe.xls` and `data/countries_europe.xlsx` MS Excel files:

In [ ]:
countries = pd.read_excel('../data/countries_europe.xls')
countries.columns = ['country', 'capital', 'area', 'population', 'region']
display(countries)

In [ ]:
countries = pd.read_excel('../data/countries_europe.xlsx')
countries.columns = ['country', 'capital', 'area', 'population', 'region']
display(countries)

---

## Working with DataFrames

Query the row and column count of a DataFrame:

In [ ]:
print('Number of rows: {0}'.format(len(countries)))
print('Number of rows: {0}'.format(countries.shape[0]))
print('Number of columns: {0}'.format(countries.shape[1]))

In [ ]:
print('Number of rows by columns:')
print(countries.count())

*Remark*: if a column contains empty cells, we would see different numbers here.

### Add a new column to a DataFrame

Calculate the population density of each country and add it as a new column to the `countries` *DataFrame*.

First, create a list of the density values:

In [ ]:
density = []
for i in range(len(countries)):
    density.append(countries['population'][i] * 1e6 / countries['area'][i])
    
print(density)

Then add a new column to the DataFrame:

In [ ]:
countries['density'] = density
display(countries)

### Calculating aggregated values

Summation, mean and median values:

In [ ]:
print("Sum population: {0:.2f} million".format(countries["population"].sum()))
print("Mean population: {0:.2f} million".format(countries["population"].mean()))
print("Median population: {0:.2f} million".format(countries["population"].median()))

Maximum and minimum values and their indexes:

In [ ]:
print("Max population:{0:.2f} million".format(countries["population"].max()))
print("Max population index: {0}".format(countries["population"].idxmax()))
print("Min population:{0:.2f} million".format(countries["population"].min()))
print("Min population index: {0}".format(countries["population"].idxmin()))

Standard deviation:

In [ ]:
print("Standard deviation of population: {0:.2f} million".format(countries["population"].std()))

Quantile calculation:

In [ ]:
print("The 90% quantile for the European countries:")
print(countries.quantile(0.9))

Which means that e.g. the top 5 countries (top 10%) has a higher population than 49.2 million.

Calculate all basic statistical data for all columns at once:

In [ ]:
display(countries.describe())

### Sorting the DataFrame

A DataFrame can be sorted into a **new** DataFrame through the `sort_values` function. The original DataFrame remains intact.

In [ ]:
bypopulation = countries.sort_values(by = 'population', ascending = False)
display(bypopulation)

Note that the row indices remained intact.  
**Task:** which countries will display the following code cell?

In [ ]:
print(bypopulation.loc[0])
print()
print(bypopulation.iloc[0])

Now we can e.g. verify that the top 5 countries (top 10%) has a higher population than 49.2 million:

In [ ]:
print("Population of the 4th country: {0:.1f} million".format(bypopulation.iloc[4]["population"]))
print("Population of the 5th country: {0:.1f} million".format(bypopulation.iloc[5]["population"]))

*Note:* a DataFrame can be sorted by modifying it (and without creating a new one) by passing the `inplace = True` argument to the `sort_values()` method:
```python
countries.sort_values(by = 'population', ascending = False, inplace = True)
```

### Indexing the DataFrame

We can assign one of the columns as the index column. The indexer column must contain unique values.

In [ ]:
countries_indexed = countries.set_index('country')
display(countries_indexed)

In the indexed *DataFrame*, rows can be accessed through the values of the index column with the already used `loc` property:

In [ ]:
print(countries_indexed.loc["Hungary"])

*Remark:* by default the `set_index()` method call removes the indexer column. We can keep the indexer column also as a "normal" column through setting the `drop` parameter to `False`.

In [ ]:
countries_indexed = countries.set_index('country', drop = False)
display(countries_indexed)

### Filtering the DataFrame

Configure a condition as a boolean expression:

In [ ]:
condition = countries["region"] == "Central"
print(type(condition))

As we have seen, the result is a *Series*, so a new column! Evaluate it:

In [ ]:
print(condition)

The series in the `condition` variable stores the boolean `True` / `False` value for each row, whether the profit was positive for that row or not.

Now filter the DataFrame by the condition. As we can observe, only the rows with the logical `True` value in the `condition` series remained:

In [ ]:
centralEuropean = countries[condition]
display(centralEuropean)

The whole workflow can be achieved in a single statement:

In [ ]:
display(countries[countries["region"] == "Central"])

---

## Summary exercise on DataFrames

### Task 1

Display the name of the countries which have a population of less than 1 million.

In [ ]:
small_countries = countries[countries["population"] < 1]
print(small_countries["country"])

### Task 2

Write a program that calculates which Western-European country has the largest area?

In [ ]:
max_index = countries[countries["region"] == "Western"]["area"].idxmax()
print(countries.iloc[max_index])